<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>| RhProject |</title>
</head>

<body>
<header>
    <nav>
        <a href="/">RhProject</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/funcionarios">Funcionários</a></li>
            <li><a href="/cadastrarFuncionario">Cadastrar Funcionário</a></li>
            <li><a href="/openings">Listar Vagas</a></li>
            <li><a href="/openings/register">Cadastrar Vaga</a></li>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Cadastrar Vaga</h1>
    <br>

    <div th:if="${message}" style="color:green;" th:text="${message}"></div>
    <div th:if="${errorMessage}" style="color:red;" th:text="${errorMessage}"></div>

    <form method="post" th:action="@{/openings/create}">
        <div>
            <label for="openingName"><b>Nome da Vaga:</b></label>
            <input type="text" id="openingName" name="openingName" placeholder="Nome da vaga" required maxlength="100">
        </div>

        <div>
            <label for="openingDescription"><b>Descrição:</b></label>
            <textarea id="openingDescription" name="openingDescription" placeholder="Descrição da vaga" required maxlength="255"></textarea>
        </div>

        <div>
            <label for="openingDate"><b>Data da Vaga:</b></label>
            <input type="date" id="openingDate" name="openingDate" placeholder="Data da vaga" required>
        </div>

        <div>
            <label for="openingSalary"><b>Salário:</b></label>
            <input type="number" id="openingSalary" name="openingSalary" placeholder="Salário" required>
        </div>

        <button type="submit">Cadastrar Vaga</button>
    </form>

    <a href="/openings">Voltar para a lista de Vagas</a>
</div>

</body>
</html>
