<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>| RhProject |</title>
</head>
<body>
<header>
    <nav>
        <a href="/">RhProject</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/funcionarios">Funcionários</a></li>
            <li><a href="/cadastrarFuncionario">Cadastrar Funcionário</a></li>
            <li><a href="/openings">Listar Vagas</a></li>
            <li><a href="/openings/register">Cadastrar Vaga</a></li>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Lista de Vagas</h1>

    <th:block th:include="mensagem-validacao"></th:block>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Cargo</th>
            <th>Descrição</th>
            <th>Data de Expiração</th>
            <th>Salário</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="opening : ${openings.content}">
            <td th:text="${opening.openingId}"></td>
            <td th:text="${opening.openingName}"></td>
            <td th:text="${opening.openingDescription}"></td>
            <td th:text="${opening.openingDate}"></td>
            <td th:text="${opening.openingSalary}"></td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <div>
            <!-- Botão de Página Anterior -->
            <span th:if="${openings.hasPrevious()}">
            <a th:href="@{/openings(page=${openings.number - 1})}">« Página Anterior</a>
        </span>
            <span th:if="${!openings.hasPrevious()}">
            <span>« Página Anterior</span>
        </span>
        </div>

        <div>
            <!-- Lista de Páginas -->
            <span th:each="i : ${#numbers.sequence(0, openings.totalPages - 1)}">
            <a th:href="@{/openings(page=${i})}" th:classappend="${openings.number == i} ? 'active'">[[${i + 1}]]</a>
        </span>
        </div>

        <div>
            <!-- Botão Próximo -->
            <span th:if="${openings.hasNext()}">
            <a th:href="@{/openings(page=${openings.number + 1})}">Próximo »</a>
        </span>
            <span th:if="${!openings.hasNext()}">
            <span>Próximo »</span>
        </span>
        </div>
    </div>
    </div>
</body>
</html>
